<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.READ_MEDIA_AUDIO"
        android:minSdkVersion="33" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!--    TODO check if it is really mandatory as Google says-->
    <uses-permission
        android:name="android.permission.MANAGE_MEDIA"
        android:minSdkVersion="31"
        tools:ignore="ProtectedPermissions" />

    <uses-permission
        android:name="android.permission.ACCESS_MEDIA_LOCATION"
        android:minSdkVersion="29" />
</manifest>