*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
debug
release
releaseTest
schemas
structure/*.bkp
*.log
/internet/src/test/java/io/github/antoinepirlot/satunes/internet/subsonic/http-client.private.env.json
